<div class="popup">
  <div class="popup-in slide-in-top">
    <div class="popup-in-header">
      <h3>title</h3>
      <div class="popup-in-header-x" (click)="closeAdd()">
        <i class="fa-solid fa-x"></i>
      </div>
    </div>
    <hr>
    <div class="pupup-in-form">
      <form #form="ngForm" (ngSubmit)="updateEmployee(form)">
        <div class="popup-in-form-list">
          <label >Name</label>
          <input type="text" name="name"  [(ngModel)]="employee.name" required >
          <label >Email</label>
          <input type="text" name="email"  [(ngModel)]="employee.email" required >
          <label >JobTitle</label>
          <input type="text" name="jobTitle"  [(ngModel)]="employee.jobTitle" required >
          <label >Phone</label>
          <input type="text" name="phone"  [(ngModel)]="employee.phone" required >
          <label >Image</label>
          <input type="file" name="imageUrl"  [(ngModel)]="employee.imageUrl" required >
        </div>
        <hr>
        <div class="popup-in-form-buttons">
          <input type="button" value="close" class="close-button" (click)="closeAdd()">
          <button class="save-button" name="save" type="submit" >save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
